* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

#Score {
  color: black;
  font-size: 100px;
  margin: 0;
  padding: 0 0 50px 0;
  font-weight: 500;
}

p {
  padding: 0;
  margin: 0;
  color: black;
}

#Total_score {
  margin-top: -40px;
  font-weight: 500;
  font-size: 24px;
}

#selectnumber {
  font-weight: 700;
  font-size: 24px;
  margin-top: 30px;
}

#lobby_dice_image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 100px;
  padding: 0;
}

#rolltext {
  margin-top: -50px;
  font-size: 20px;
}

#imagediv {
  margin-bottom: 35px;
}

#resetscore {
  width: 220px;
  padding: 10px 18px 10px 18px;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
}

#showrules {
  padding: 10px 18px 10px 18px;
  width: 220px;
}
